.flex-col{
  flex-direction: column;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-col-rvs{
  flex-direction: column-reverse;
}
.flex-row-rvs{
  flex-direction: row-reverse;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-btw{
  justify-content: space-between;
}
.justify-content-evn{
  justify-content: space-evenly;
}
.justify-content-stch{
  justify-content: stretch;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.align-items-start{
  align-items: flex-start;
}
.align-items-stretch{
  align-items: stretch;
}

$num: 12;
@mixin order-setter {
  @for $i from 1 through $num {
    .order-#{$i}{
      order: #{$i}
    }
  }
}

$neg: -3;
@mixin neg-order {
  @for $i from $neg through -1 {
    .neg-order#{$i}{
      order: $i;
    }
  }
}