$positions: relative, absolute, fixed, static, sticky;

@each $item in $positions{
  .position-#{$item}{
    position: $item;
  }
}

$text-props: center,right,justify,initial,inherit;
@each $prop in $text-props{
  .text-align-#{$prop}{
    text-align: #{$prop};
  }
}
